<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>天天果园首页</title>
    <!-- 引入css -->
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <script src="/static/js/jquery-1.11.3.js"></script>
    {% block js %}
    {% endblock %}
</head>
<body>
    <div id="container">
        <!--1. 导航 -->
        <div id="nav">
            <ul class="rightNav">
                {% if request.session.user_name %}
                    <li>欢迎您：<a href="" target="_blank">{{ request.session.user_name }}</a></li>
                    <li><a href="{% url 'lgt' %}" target="_blank">[退出]</a></li>
                {% else %}
                    <li><a href="{% url 'lg' %}" target="_blank">[登陆]</a></li>
                    <li><a href="{% url 'reg' %}" target="_blank">[注册,有惊喜]</a></li>
                {% endif %}
                <li><b></b>果园公告</li>
                <li><b></b>卷卡兑换</li>
                <li><b></b>手机果园</li>
            </ul>
            <ol class="leftNav">
                <li><span>上海</span><u></u></li>
                <li>满百包邮(环郊内)</li>
                <li><a>星夜达</a></li>
            </ol>
        </div><br><br>
        <div>
            <!--个人信息-->
            <h2>个人中心</h2><hr><br>
            <div align="center">
                <form action="{% url 'uinfo' %}" method="post" >
                    {% csrf_token %}
                    <table style="font-size: 16px;" cellspacing="13px">

                        <tr>
                            <td width="100px"><input type="hidden" name="id" value="{{ user.id }}">用户姓名</td>
                            <td ><input style="height:30px;color:grey;width: 299px;background:gainsboro" value="{{ user.uname }}" readonly ></td>
                        </tr>
                        <tr>
                            <td>电子邮箱</td>
                            <td ><input style="height:30px;color:grey;width: 299px;background:gainsboro" value="{{ user.uemail }}" readonly ></td>
                        </tr>
                        <tr>
                            <td>手机号码</td>
                            <td ><input style="height:30px;color:grey;width: 299px;background:gainsboro" value="{{ user.uphone }}" readonly ></td>
                        </tr>
                        <tr>
                            <td >{{ address }}<input type="hidden" name="aid" value="{{ address.id }}">收件姓名</td>
                            <td ><input name="sname" style="height:30px;color:grey;width: 299px" type="text" value="{{ address.aname }}"></td>
                        </tr>
                        <tr>
                            <td>收货地址</td>
                            <td ><textarea name="address" style="height:50px;color:grey;" cols="40" rows="3">{{ address.address }}</textarea></td>
                        </tr>
                        <tr>
                            <td>收货手机</td>
                            <td><input name="sphone" style="height:30px;color:grey;width: 299px" type="text" maxlength="11" minlength="11"
                            oninput = "value=value.replace(/[^\d]/g,'')" value="{{ address.cellphone}}"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right"><input type="submit" style="width:100px;
                            height: 40px;
                            border:1px solid rgb(100, 161, 49);
                            background-color: rgb(100, 161, 49);
                            border-radius: 5px;
                            text-align: center;
                            line-height: 40px;
                            color:lavender;
                            font-size: 14px;" value="更改信息"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div>
            <br>
            <h2>积分管理</h2><hr><br>
                <table style="font-size: 16px;">
                    <tr>
                        <td width="80px">积分</td>
                        <td align="lift">{{ user.ujifen }}</td>
                        <td width="50px"></td>
                        <td colspan="2" align="right">
                            <button style="border: 2px solid rgb(100, 161, 49);background:white;
                            color:lavender;height: 35px;width: 80px;border-radius: 5px;"><a href="#">点击充值</a>
                                </button></td>
                    </tr>
                </table>
            <br><br>
        </div>
    </div>


</body>